#frmAdd.modal.fade(tabindex='-1', role='dialog', aria-labelledby='AddModalLabel', aria-hidden='true')
    .modal-dialog(role='dialog' style='width:400px')
        .modal-content.animate
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') X
            h4.modal-title Add New User Login
          .modal-body
            include ../modalAlert.pug
            form#frmAddChild.form-horizontal(name='frmAddChild')
              input#submitadd.hidden(type='submit')               
              .form-group
                .col-sm-4.control-label
                  label User Login
                    span.required *
                .col-sm-8
                  input#addUserLogin.form-control(placeholder='Enter User Login' type='text' maxlength='255' required)
              .form-group
                .col-sm-4.control-label
                  label Password
                    span.required *
                .col-sm-8
                  input#addPassword.form-control(placeholder='Enter Password' type='password' maxlength='255' required)
              .form-group
                .col-sm-4.control-label
                  label Level
                    span.required *
                .col-sm-8
                  select#addLevel.form-control.input-lg.select2(required)
                    option(value="P") Provider
                    option(value="A") Admin
                    option(value="U") User  
            
          .modal-footer
            .form-group
              button#btnSaveAdd.btn.btn-lg.is-assign(type='button') &nbsp;#{locals.label.save}
              button.btn.btn-secondary.is-unassign(type='button', data-dismiss='modal') &nbsp;#{locals.label.close}

//- ------------------------------------------------------
script.
  $(document).ready(function(){
    $('#frmAdd :input').keypress(function(e){
      if(e.which == 13){
        e.preventDefault();
        $('#btnSaveAdd').click();
      }
    });
    
    $('#addLevel').select2();

    $('#frmAdd').on('shown.bs.modal', function(){
      $("#frmAdd input[type=text]").val("");
    });
  
    $('#btnSaveAdd').on('click', function() {
      if (!$('#frmAddChild')[0].checkValidity()) {
        $('#frmAddChild').find('input[type="submit"]').click();
        return false;
      } else {

        var param = "userlogin=" + $("#addUserLogin").val() +
                    "&password=" + $("#addPassword").val() +
                    "&level=" + $("#addLevel").val()

        var url = '/useradd'
        getAjax(url, param, function (data) {
          if (data.value == "1"){
            modalSuccess('#frmAdd')
            $("#frmAdd input[type=text]").val("");
            pageTable.ajax.reload(null,false);
          } else {
            modalError('#frmAdd', data.msg, data.value)
          }
        });
      }
    });
  });