//- meta(charset='utf-8')
//- meta(http-equiv='X-UA-Compatible', content='IE=edge')
//- // Tell the browser to be responsive to screen width
//- meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
//- link(rel="stylesheet", href="/dist/public/fonts/rubik.css", type="text/css")
//- // Bootstrap 3.3.6
//- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/dist/public/css/dataTables.bootstrap.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/dist/public/css/daterangepicker.css?v=' + locals.vcss)
//- // Font Awesome
//- link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/bower_components/iCheck/skins/all.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.min.css?v=' + locals.vcss)
//- // Theme style
//- link(rel='stylesheet', href='/dist/public/css/AdminLTE.min.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/dist/public/css/skins/skin-blue-light.min.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/dist/public/css/main.css?v=' + locals.vcss)
//- link(rel='stylesheet', href='/dist/public/css/all.css?v=' + locals.vcss)

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Tell the browser to be responsive to screen width
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
link(rel='stylesheet', href='/dist/public/css/daterangepicker.css?v=' + locals.vcss)
// Font Awesome
link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css?v=' + locals.vcss)
link(rel="stylesheet", href='/dist/public/css/icomoon.css?v=' + locals.vcss)
link(rel='stylesheet', href='/dist/public/css/select2.css?v=' + locals.vcss)
// Theme style
link(rel='stylesheet', href='/dist/public/css/style.css?v=' + locals.vcss)