#ErrDivModal.alert.alert-modal.alert-danger
  .form-group
    a.close(onClick="$(this).parent().parent().hide()") x
    span#ErrMsgModal

#SuccessDivModal.alert.alert-modal.alert-success
  .form-group
    a.close(onClick="$(this).parent().parent().hide()") x
    span#SuccessMsgModal