script(src='/bower_components/jquery/dist/jquery.min.js?v=' + locals.vjs)
script(src='/dist/public/js/popper.min.js?v=' + locals.vjs)
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js?v=' + locals.vjs)
script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js?v=' + locals.vjs)
//- script(src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js?v=' + locals.vjs)
script(src='/dist/public/js/lib/dataTables.dataTables.min.js?v=' + locals.vjs)
script(src='/bower_components/jquery-slimscroll/jquery.slimscroll.min.js?v=' + locals.vjs)
script(src='/bower_components/iCheck/icheck.min.js?v=' + locals.vjs)
script(src='/bower_components/fastclick/lib/fastclick.js?v=' + locals.vjs)
script(src='/bower_components/moment/min/moment.min.js?v=' + locals.vjs)
script(src='/bower_components/numeral/min/numeral.min.js?v=' + locals.vjs)
script(src='/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js?v=' + locals.vjs)
script(src='/bower_components/datatables.net-buttons/js/buttons.html5.min.js?v=' + locals.vjs)
script(src='/dist/public/js/jquery.mask.js?v=' + locals.vjs)
script(src='/dist/public/js/inputmask.js?v=' + locals.vjs)
script(src='/dist/public/js/inputmask.extensions.js?v=' + locals.vjs)
script(src='/dist/public/js/select2.full.js?v=' + locals.vjs)
//- script(src='/dist/public/js/bootstrap-datepicker.js?v=' + locals.vjs)
script(src='/dist/public/js/daterangepicker.min.js?v=' + locals.vjs)
script(src='/dist/public/js/paginate-input.js?v=' + locals.vjs)
script(src='/dist/public/js/fixedHeader.js?v=' + locals.vjs)
script(src='/dist/public/js/main.js?v=' + locals.vjs)
script(src='/dist/public/js/webfont.js?v=' + locals.vjs)
script(type='text/javascript').
  WebFont.load({
    google: {
      families: ['Rubik']
    }
  });
  const _jsonAuth = '#{JSON.stringify(auth)}';
  const _jsonLang = '#{JSON.stringify(locals.label)}';
  var auth = (_jsonAuth !== '')? JSON.parse(_jsonAuth.replace(/&quot;/g,'"')) : '';
  var objlang = (_jsonLang !== '')? JSON.parse(_jsonLang.replace(/&quot;/g,'"')) : '';
  var pageTable;